<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patrick+Hand">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/typicons.font@2.0.9/src/font/typicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-draggable-resizable@2.0.1/dist/VueDraggableResizable.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intro.js@2.9.3/introjs.min.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="editor">
    <div id="toolbar">
      <button id="detectjp" @click="detectJapanese">Detect Japanese</button>
      <button id="makebubbles" @click="makeBubbles">Translate to English</button>
      <button id="selectbox" @click="selectBox">Select a Bubble</button>
      <button id="saveimage" @click="saveImage">Save Image</button>
      <button id="helpbutton" @click="showHelp">Help</button>
    </div>
    <div id="scrollport" @mousedown="handleMouseDown" @mousemove="handleMouseMove">
      <div id="textlayers" style="z-index:102;">
        <bubble-component v-for="(bubble, i) in bubbles" v-model="bubbles[i]"
          @bubble-focus="updateSelectedId" @bubble-unfocus="unfocusSelectedId">
        </bubble-component>
      </div>
      <v-stage id="konva" ref="stage" :config="configKonva">
        <v-layer ref="textLayer">
            <v-text v-for="configText in configTexts" :config="configText"></v-text>
        </v-layer>
        <v-layer ref="uiLayer">
            <v-rect :config="configRect"></v-rect>
          </v-layer>
      </v-stage>
      <div id="dropzone">
        <canvas ref="canvas" id="canvas" width="520" height="800"></canvas>
      </div>
    </div>
    <div id="bubbleData">
        <a href="http://scanlate.io">
          <img src="assets/logo/vector/logo-256x64.svg" width="160px" height="40px">
        </a>
        <textarea v-model="selectedBubble.japanese" rows="5"></textarea>
        <textarea v-model="selectedBubble.english" rows="5"></textarea>
        Line height:
        <input type="number" v-model="selectedBubble.lineHeight" step="0.05">
        Font size:
        <input type="number" v-model="selectedBubble.fontSize">
        Font family:
        <select v-model="selectedBubble.fontFamily">
          <optgroup style="font-family:'Wild Words'"><option>Wild Words</option></optgroup>
          <optgroup style="font-family:'Death Rattle'"><option>Death Rattle</option></optgroup>
          <optgroup style="font-family:'Akbar'"><option>Akbar</option></optgroup>
        </select>
        <br><span style="font-family:'Wild Words'">Normal dialogue...</span>
        <span style="font-family:'Death Rattle'; font-size:30px">Shouts!</span>
        <span style="font-family:'Akbar'">Handwriting =)</span>
        <canvas id="snippet" width="100" height="100"></canvas> 
      </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-draggable-resizable@2.0.1/dist/VueDraggableResizable.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/intro.js@2.9.3/intro.min.js"></script>
<script src='https://unpkg.com/konva@4.0.0/konva.min.js'></script>
<script src='https://unpkg.com/vue-konva/umd/vue-konva.min.js'></script>
<script src="intro.js"></script>
<script src="bubble-vue.js"></script>
<script src="main-vue.js"></script>
<script src="image-background.js"></script>
