<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/typicons.font@2.0.9/src/font/typicons.min.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/vue-draggable-resizable@2.0.1/dist/VueDraggableResizable.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intro.js@2.9.3/introjs.min.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="editor">
    <div id="toolbar">
      <button id="detectjp" @click="detectJapanese">Detect Japanese</button>
      <button id="makebubbles" @click="makeBubbles">Translate to English</button>
      <button id="selectbox" @click="selectBox" :class="{selected: currentTool == 'TRANSLATE'}">Select a Bubble</button>
      <button id="paintTool" @click="paintTool" :class="{selected: currentTool == 'PAINT'}">Brush</button>
      <button id="saveimage" @click="saveImage">Save Image</button>

      <a target="_blank" class="links" id="aboutlink" href="/about.html">About</a>
      <a href="#" class="links" @click="showHelp">Help</a>
    </div>
    <div id="scrollport" @mousedown="handleMouseDown" @mousemove="handleMouseMove" @mouseup="handleMouseUp">
      <div id="textlayers" style="z-index:102;" v-show="showTextLayer && currentTool == 'TEXT'">
        <bubble-component v-for="(bubble, i) in bubbles" v-model="bubbles[i]" @bubble-focus="updateSelectedId"
          @bubble-unfocus="unfocusSelectedId">
        </bubble-component>
      </div>
      <v-stage id="konva" ref="stage" :config="configKonva">
        <!-- Note: Konva layers are ordered from bottom to top. -->
        <v-layer ref="editLayer" :config="{visible: showEditLayer}"></v-layer>
        <v-layer ref="textLayer" :config="{visible: showTextLayer}">
          <v-text v-for="configText in configTexts" :config="configText"></v-text>
        </v-layer>
        <v-layer ref="uiLayer">
          <v-rect :config="configRect"></v-rect>
          <v-circle :config="brushCursor"></v-circle>
        </v-layer>
      </v-stage>
      <div id="dropzone">
        <canvas ref="canvas" id="canvas" width="520" height="800"></canvas>
      </div>
    </div>
    <div id="rightbar">
      <img src="assets/logo/vector/logo-256x64.svg" width="180px" height="45px">
      <div id="bubbleData" class="panel" v-show="currentTool == 'TEXT' && selectedId != -1">
        <h4>TEXT</h4>
        <textarea v-model="selectedBubble.japanese" rows="5"></textarea>
        <textarea v-model="selectedBubble.english" rows="5"></textarea>
        Line height:
        <input type="number" v-model="selectedBubble.lineHeight" step="0.05">
        Font size:
        <input type="number" v-model="selectedBubble.fontSize">
        Font family:
        <select v-model="selectedBubble.fontFamily">
          <optgroup style="font-family:'Wild Words'">
            <option>Wild Words</option>
          </optgroup>
          <optgroup style="font-family:'Death Rattle'">
            <option>Death Rattle</option>
          </optgroup>
          <optgroup style="font-family:'Akbar'">
            <option>Akbar</option>
          </optgroup>
        </select>
      </div>
      <div id="brushData" class="panel" v-show="currentTool == 'PAINT'">
        <h4>BRUSH</h4>
        Color:
        <select v-model="brush.color">
          <option>White</option>
          <option>Black</option>
          <option>Erase</option>
        </select>
        Size:
        <input type="number" v-model="brush.size">
      </div>
      <div class="panel" v-show="currentTool == 'TEXT'">
        <h4>FONT GUIDE</h4>
        <span style="font-family:'Wild Words'">Dialogue...</span>
        <span style="font-family:'Death Rattle'; font-size:30px">Shouts!</span>
        <span style="font-family:'Akbar'">Handwriting =)</span>
      </div>
      <div class="panel">
        <h4>LAYERS</h4>
        <div>
          <input type="checkbox" id="checkboxTextLayer" v-model="showTextLayer">
          <label for="checkboxTextLayer">Show text layer</label>
        </div>
        <div>
          <input type="checkbox" id="checkboxEditLayer" v-model="showEditLayer">
          <label for="checkboxEditLayer">Show edit layer</label> </div>
      </div>
      <canvas id="snippet" width="100" height="100"></canvas>
    </div>
  </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-draggable-resizable@2.0.1/dist/VueDraggableResizable.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/intro.js@2.9.3/intro.min.js"></script>
<script src='https://unpkg.com/konva@4.0.0/konva.min.js'></script>
<script src='https://unpkg.com/vue-konva/umd/vue-konva.min.js'></script>
<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js"></script>
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDpldUROUvHFZY5XR_zZVr6Nap-Y91Rngk",
    authDomain: "canonalist.firebaseapp.com",
    databaseURL: "https://canonalist.firebaseio.com",
    projectId: "canonalist",
    storageBucket: "canonalist.appspot.com",
    messagingSenderId: "819833086526",
    appId: "1:819833086526:web:887b11d479cc7f90f9676f",
    measurementId: "G-5Y582CPKY6"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  if (/localhost/.test(window.location.hostname)) {
    console.log('Disabling analytics for local development.')
  } else {
    firebase.analytics();
  }
</script>

<!-- My code -->
<script src="intro.js"></script>
<script src="bubble-vue.js"></script>
<script src="main-vue.js"></script>
<script src="image-background.js"></script>