<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patrick+Hand">
</head>

<body>
  <div class="editor">
    <div class="toolbar">
      <button v-on:click="newImage">New Image</button>
      <button v-on:click="selectBox">Select JP area</button>
      <button v-on:click="detectJapanese">Detect all JP</button>
      <button v-on:click="makeBubbles">Translate to EN</button>
      <button v-on:click="saveImage">Save Image</button>
    </div>
    <div class="mainarea">
    <div id="textlayers" style="z-index:102;">
      <bubble-component v-for="bubble in bubbles" v-bind="bubble" v-on:bubble-focus="showdata">
      </bubble-component>
    </div>
    <div id="dropzone">
      <canvas ref="canvas" id="canvas" width="520" height="800"
          onclick="processClick(event)" onmousedown="mouseDown(event)"
          onmouseup="mouseUp(event)" oncontextmenu="contextMenu(event)">
      </canvas>
    </div>
    <div id="bubbleData">
      <textarea v-model="bubble.japanese" rows="5"></textarea>
      <textarea v-model="bubble.english" rows="5"></textarea>
    </div>
    <textarea name="lyrics" id="lyrics" rows="10" cols="20"></textarea>
    <canvas id="snippet" width="100" height="100"></canvas>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
<script src="right-click-ocr.js"></script>
<script src="separator.js"></script>
<script src="soap.js"></script>
