body {
  display: grid;
  grid-template-rows: 80px 350px 50px;
}

.toolbar {
  grid-row: 1;
  display: flex;
}

.toolbar > input {
  font-size: 20pt;
  text-align: center;
}

.editor {
  grid-row: 2;
  display: flex;
  align-items: flex-start;
}

.editor > textarea {
  font-size: 30pt;
}

div#textlayers {
  position: relative;
}

div#textlayers > textarea {
  position: absolute;
  font-family:'Patrick Hand';
  font-size: 16pt;
  text-align: center;

  overflow: hidden;
  /* border: none; */
  outline: none;
  background: transparent;
  /* resize: none; */ /* remove the resize handle on the bottom right */
}
